#showProducts{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


#showProducts_cakes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

#showProducts_coffees{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

h1{
    color: white;
}